:root {
    font-family: system-ui;
    --borRad: 6px;
    --neutralColor: #ffe9c3;
    --complimentaryColor: #ccba9c;
    --accentColor: #655c4d;
    --complimentaryAccentColor: #8b7e6a;
    --sidebarHeight: 4rem;
}

* {
    box-sizing: border-box;
    color: var(--accentColor);
}

header *,
main sidebar *,
footer * {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* 
 *MOBILE
 */

body {
    background: var(--complimentaryColor);
    display: grid;
    grid-template-rows: 32px auto;
    margin: 0;
    padding: 0;
}

header input[type="checkbox"] {
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    z-index: 2;
    appearance: none;
    margin: 0;
    background: var(--accentColor);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    transition: all 0.2s ease;
    clip-path: polygon(0% 5%, 100% 5%, 100% 25%, 0% 25%, 0% 40%, 100% 40%, 100% 60%, 0% 60%, 0% 75%, 100% 75%, 100% 95%, 0% 95%);
}

header input[type="checkbox"]:checked {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

/* to make the menu move */
header input[type="checkbox"]:checked ~ nav {
    z-index: 1;
    transform: translate(0, 0);
}

header nav {
    height: calc(100vh - var(--sidebarHeight) + 2vh);
    background: var(--complimentaryColor);
    transform: translate(0, -100%);
    transition: transform 0.2s ease-in-out;
    display: flex;
    gap: 1rem;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header nav dropdown {
    padding: 1rem 0;
}

header nav dropdown button {
    height: var(--buttonHeight);
    background: var(--buttonBackground);
    border: none;
    border-radius: var(--borRad);
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    width: 16rem;
    justify-content: center;
}

header nav dropdown button .material-symbols-rounded {
    font-size: 2rem;
}

header nav dropdown:hover dropdownlist {
    display: flex;
    flex-direction: column;
    transform: translate(0, 14px);
}

header nav dropdown dropdownlist {
    display: none;
    position: absolute;
    background: var(--complimentaryColor);
    width: 16rem;
    box-shadow: 0px 2px 6px 0px var(--accentColor);
    border-radius: var(--borRad);
    z-index: 1;
}

header nav dropdown dropdownlist a {
    padding: 12px 16px;
    text-decoration: none;
    color: var(--accentColor);
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

header nav dropdown dropdownlist a:hover {
    background: var(--neutralColor);
    border-radius: var(--borRad);
}

header nav form {
    display: grid;
    grid-template-columns: auto 48px;
    position: absolute;
    bottom: 5rem;
    background: var(--neutralColor);
    border-radius: var(--borRad);
    box-shadow: var(--accentColor) 0px 2px;
}

header nav form input {
    border: none;
    background: transparent;
    padding: 10px;
    width: 60vw;
    font-size: 1rem;
    text-align: center;
}

/* remove default outline */
header nav form input:focus {
    outline: none;
}

header nav form button {
    border: none;
    background: transparent;
}

header nav form button span {
    transition: all 0.2s ease;
    font-size: 1.5rem;
}

header nav form button:active span {
    transition: all 0.2s ease;
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column-reverse;
}

main sidebar {
    height: var(--sidebarHeight);
    display: flex;
    align-items: center;
}

/* display the sidebar buttons in rows */
main sidebar nav {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

main sidebar nav a {
    height: 48px;
    padding: 1rem 1.5rem;
    /* color: var(--accentColor); */
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}

/* remove text for navbar items for mobile*/
main sidebar nav a *:not(span.material-symbols-rounded) {
    display: none;
}

/* icon size for both mobile and PC */
main sidebar nav a span.material-symbols-rounded {
    font-size: 2rem;
}

main content {
    overflow-y: scroll;
    height: calc(100vh - 8rem);
    width: 100vw;
    border-radius: calc(var(--borRad)*2);
    background: var(--neutralColor);
    box-shadow: 0 0px 10px 0 var(--accentColor);
}

/* left and right spacing for the content */
main content section {
    padding: 1rem;
}

footer {
    background: var(--complimentaryColor);
    padding: 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* TABLET */
@media screen and (min-width: 426px) {}

/* DESKTOP */
@media screen and (min-width: 769px) {

    /* default not filled icons */
    .material-symbols-rounded {
        transition: all 0.2s ease-in-out;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }

    body {
        /* is deze nodig? */
        background: var(--neutralColor);
    }

    /* hide mobile icon */
    header input:not(nav *) {
        display: none;
    }

    header nav {
        display: flex;
        overflow: unset;
        height: 48px;
        transform: translate(0, 0);
        flex-direction: unset;
        padding: 0 8rem;
        box-shadow: 0 2px 6px 0 var(--accentColor);
    }

    header nav dropdown,
    header nav dropdown dropdownlist {
        width: 6rem;
        padding: 0;
    }

    header nav dropdown dropdownlist a {
        word-break: break-word;
        justify-content: unset;
        font-size: 13px;
    }

    header nav dropdown button {
        width: unset;
        height: var(--buttonHeight);
        cursor: pointer;
        font-size: 13px;
    }

    header nav dropdown button .material-symbols-rounded {
        font-size: 1rem;
    }

    header nav form {
        position: unset;
        padding: 4px 8px;
        grid-template-columns: auto 24px;
        margin: auto 0 auto auto;
    }

    header nav form input {
        width: unset;
        text-align: unset;
        font-size: 13px;
        padding: unset;
    }

    header nav form button {
        cursor: pointer;
        padding: unset;
    }

    header nav form button span {
        font-size: unset;
    }

    /* add outline when focused on input field */
    header nav form:focus-within {
        /* border-radius: var(--borRad); */
        outline-color: var(--accentColor);
        outline-style: solid;
        outline-offset: -4px;
        outline-width: 2px;
    }

    main {
        flex-direction: row;
        gap: 16px;
        margin: auto 1rem;
    }

    main content {
        height: calc(100vh - 6rem);
        width: 100%;
        box-shadow: unset;
    }

    main sidebar {
        align-items: center;
        width: 5rem;
        justify-content: unset;
        background: var(--complimentaryColor);
        height: unset;
        overflow: hidden;
        border-radius: calc(var(--borRad)*2);
        transition: all 0.1s ease-in-out;
        box-shadow: 0 2px 6px 0 var(--accentColor);
    }

    main sidebar:hover {
        width: 20%;
        overflow: unset;
        transition: all 0.1s ease-in-out;
    }

    main sidebar:hover > nav a {
        padding: 3rem 2rem;
    }

    main sidebar nav {
        justify-content: unset;
        display: grid;
        width: 100%;
    }

    main sidebar nav a *:not(span.material-symbols-rounded) {
        display: unset;
    }

    main sidebar nav a .material-symbols-rounded {
        margin: 0 2rem 0 0;
    }

    main sidebar nav a {
        padding: 3rem 1.3rem;
    }

    /* hover state for the navbar buttons */
    main sidebar nav a:hover {
        background: rgba(0, 0, 0, 0.1);
        border-radius: calc(var(--borRad)*2);
    }

    /* make filled icons when hovered over navbar */
    main sidebar nav a:hover .material-symbols-rounded,
    .material-symbols-rounded:hover {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }

    main sidebar nav a .material-symbols-rounded {
        display: unset;
        margin: 0 2rem 0 0;
    }
}