:root {
    font-family: system-ui;
    --borRad: 6px;
    --buttonHeight: 28px;
    --inputHeight: 28px;
    --buttonBackground: transparent;
    --searchButtonBackground: white;
    --neutralColor: #ffe9c3;
    --complimentaryColor: #ccba9c;
    --accentColor: #655c4d;
    --complimentaryAccentColor: #8b7e6a;
}

* {
    box-sizing: border-box;
    color: var(--accentColor);
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

sidebar nav a *:not(span.material-symbols-rounded) {
    display: none;
}

body {
    background: var(--complimentaryColor);
    display: grid;
    grid-template-rows: 32px auto;
    margin: 0;
    padding: 0;
}
















dropdownlist a {
    float: none;
    color: var(--accentColor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

dropdownlist a:hover {
    background-color: #ddd;
}

dropdown:hover dropdownlist {
    display: block;
}














header {
    background: var(--complimentaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    overflow: hidden;
}

header nav button {
    height: var(--buttonHeight);
    background: var(--buttonBackground);
    border: none;
    border-radius: var(--borRad);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
}

header nav dropdown {
    float: left;
    overflow: hidden;
}

header nav dropdown dropdownlist {
    display: none;
    position: absolute;
    background-color: var(--neutralColor);
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header nav dropdown:hover,
header nav dropdown dropdownlist:hover dropdown button {
    background: rgba(0, 0, 0, 0.1);
}

header nav searchbox {
    display: flex;
}

header nav searchbox input {
    display: none;
    border: none;
    height: var(--inputHeight);
    background: var(--neutralColor);
    padding: 10px;
    border-radius: var(--borRad) 0 0 var(--borRad);
}

header nav searchbox input:focus {
    outline: none;
}

header nav searchbox:focus-within {
    outline-color: var(--accentColor);
    outline-style: auto;
    outline-width: initial;
    border-radius: var(--borRad)
}

header nav searchbox button .material-symbols-rounded {
    color: var(--accentColor);
}

header nav searchbox button {
    border: none;
    background: transparent;
    height: var(--buttonHeight);
    border-radius: 0 var(--borRad) var(--borRad) 0;
}

main {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}

main content {
    overflow-y: scroll;
    height: calc(100vh - 8rem);
    width: 100%;
    border-radius: calc(var(--borRad)*2);
    background: var(--neutralColor);
}

sidebar {
    height: 4rem;
    background: var(--complimentaryColor);
    border-radius: 0 0 calc(var(--borRad)*2) calc(var(--borRad)*2);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

sidebar nav {
    display: flex;
    align-self: center;
}

sidebar nav a {
    height: 28px;
    padding: 1rem 1.5rem;
    color: var(--accentColor);
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: large;
    background: transparent;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
    border-radius: calc(var(--borRad)*2);
    cursor: pointer;
}

sidebar nav a:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: calc(var(--borRad)*2);
}

sidebar nav a span.material-symbols-rounded {
    /* ICON SIZE */
    font-size: 2rem;
}

footer {
    background: var(--complimentaryColor);
    padding: 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* TEST FOR IMAGE */
.square {
    height: 20rem;
    width: 100%;
    background-color: var(--accentColor);
    border-radius: calc(var(--borRad)*2);
}

/* TABLET */
@media screen and (min-width: 426px) {}

/* DESKTOP */
@media screen and (min-width: 769px) {}