header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
    color: lightgray;
    height: calc(100vh / 10);
    position: fixed;
    width: 100%;
    padding: 10px;
}

header container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header container button {}

header container input {
    border: none;
    color: black;
    text-shadow: 0 0 white;
    height: 28px;
    padding: 10px;
    border-radius: 6px;
}

header container button:last-child {
    border: none;
    background: white;
    padding: 0 10px;
    border-radius: 6px;
}

body {

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-family: system-ui;
    margin: 10px 0 0 0;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

aside {
    background: lightgray;
    grid-auto-rows: 1fr;
    display: grid;
    position: fixed;
    width: 20%;
    height: calc(100vh - 50%);
    top: calc(100vh - 75%);
    margin: 0 10px;
    border-radius: 12px;
}

aside button {
    border: none;
    text-align: left;
    padding-left: 10%;
    font-weight: bold;
    background: transparent;
}

gridl {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    grid-auto-rows: 1fr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer {
    background: lightgray;
    width: 100%;
    padding: 10px;
}