<html lang="nl">
<link rel="stylesheet" href="style3.css">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfielPlus</title>
</head>

<body>
    <header>
        <nav>
            <button>category</button>
            <button>category</button>
            <button>category</button>
            <button>category</button>
            <searchbox>
                <input type="text" placeholder="Search">
                <button>Search</button>
            </searchbox>
        </nav>
    </header>
    <main>
        <sidebar>
            <nav>
                <a href="/"><i class="material-icons">home</i> Home </a>
                <a href="/about"><i class="material-icons">question_mark</i>About</a>
                <a href="/profile"><i class="material-icons">person</i>Profile</a>
            </nav>
        </sidebar>
        <content>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
            <article>
                <img src="" alt="" class="square">
                <p>Person</p>
            </article>
        </content>
    </main>
    <footer>
        <p>text</p>
    </footer>
</body>

</html>