:root {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    --borRad: 6px;
}

body {
    display: grid;
    /* grid-template-areas:
        'header header header header header'
        'sidebar main main main main'
        'footer footer footer footer footer'; */
    gap: 10px;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
    color: lightgray;
    height: calc(100vh / 10);
    position: fixed;
    width: 100%;
    padding: 10px;
    grid-area: header;
}

header container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

sidebar nav {
    background: lightgray;
    display: flex;
    gap: 32px;
    grid-area: sidebar;
    height: fit-content;
    padding: 32px 0;
    margin: 0 10px;
    border-radius: calc(var(--borRad)*2);
    flex-direction: column;
}

sidebar nav button {
    height: 100%;
    padding-left: 2rem;
    border: none;
    font-weight: bold;
    background: transparent;
    display: flex;
    align-items: center;
    transition: background 0.5s ease-in-out;
    border-radius: calc(var(--borRad)*2);
}

main {
    margin-top: 5rem;
    display: grid;
    grid-area: main;
}

main content {
    overflow: scroll;
    height: calc(100vh - 12rem);
}

footer {
    grid-area: footer;
    background: lightgray;
    padding: 10px;
    box-sizing: border-box;
}

svg {
    height: 1.5rem;
    vertical-align: sub;
    margin: 0 10px 0 0;
}