:root {
    font-family: system-ui;
    --borRad: 6px;
    --buttonHeight: 28px;
    --inputHeight: 28px;
    --complimentaryAccentColor: #8b7e6a;
    --headerBackground: lightcoral;
    --footerBackground: lightgreen;
    --sidebarBackground: lightblue;
    --buttonBackground: transparent;
    --searchButtonBackground: white;
    --neutralColor: #ffe9c3;
    --complimentaryColor: #ccba9c;
    --accentColor: #655c4d;
}

* {
    box-sizing: border-box;
    color: var(--accentColor);
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

sidebar nav a .material-symbols-rounded {
    display: none;
}


header {
    background: var(--complimentaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    overflow: hidden;
}

header nav button {
    height: var(--buttonHeight);
    background: var(--buttonBackground);
    border: none;
    border-radius: var(--borRad);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
}

header searchbox {
    display: none;
}

body {
    background: var(--neutralColor);
    display: grid;
    grid-template-rows: 48px auto;
    grid-gap: 10px;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
}

sidebar {
    background: var(--complimentaryColor);
    border-radius: calc(var(--borRad)*2);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

sidebar nav {
    display: flex;
    align-self: center;
}

sidebar nav a {
    height: 28px;
    padding: 1rem 1.5rem;
    color: var(--accentColor);
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: large;
    background: transparent;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
    border-radius: calc(var(--borRad)*2);
    cursor: pointer;
}

sidebar nav a:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: calc(var(--borRad)*2);
}

footer {
    background: var(--complimentaryColor);
    padding: 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* TEST */
.square {
    height: 20rem;
    width: 100%;
    background-color: var(--accentColor);
    border-radius: calc(var(--borRad)*2);
}

@media screen and (max-width: 426px) {}

@media screen and (min-width: 769px) {

    header nav button {
        height: var(--buttonHeight);
        background: var(--buttonBackground);
        border: none;
        border-radius: var(--borRad);
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    header searchbox input {
        border: none;
        height: var(--inputHeight);
        background: var(--neutralColor);
        padding: 10px;
        border-radius: var(--borRad) 0 0 var(--borRad);
    }

    header searchbox input:focus {
        outline: none;
    }

    header searchbox:focus-within {
        outline-color: var(--accentColor);
        outline-style: auto;
        outline-width: initial;
        border-radius: var(--borRad)
    }

    header searchbox button .material-symbols-rounded {
        color: var(--accentColor);
    }

    header searchbox button {
        border: none;
        background: var(--neutralColor);
        height: var(--buttonHeight);
        border-radius: 0 var(--borRad) var(--borRad) 0;
    }

    header nav {
        display: flex;
        overflow: hidden;
    }

    header nav dropdown {
        float: left;
        overflow: hidden;
    }

    header nav dropdown dropdownlist {
        display: none;
        position: absolute;
        background-color: var(--neutralColor);
        min-width: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    header nav dropdown:hover,
    header nav dropdown dropdownlist:hover dropdown button {
        background: rgba(0, 0, 0, 0.1);
    }

    dropdownlist a {
        float: none;
        color: var(--accentColor);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    dropdownlist a:hover {
        background-color: #ddd;
    }

    dropdown:hover dropdownlist {
        display: block;
    }


    header nav searchbox {
        display: flex;
    }

    main {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin: auto 1rem;
    }

    main content {
        width: 100%;
        overflow-y: scroll;
        height: calc(100vh - 6rem);
        margin: 0 1rem;
        border-radius: calc(var(--borRad)*2);
    }

    main content section {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
    }

    main content section article {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
    }

    sidebar:hover {
        width: 20%;
        overflow: unset;
        transition: all 0.1s ease-in-out;
    }

    sidebar:hover > nav a {
        padding: 3rem 2rem;
    }

    sidebar {
        align-items: center;
        width: 5rem;
        justify-content: unset;
    }

    sidebar nav {
        display: grid;
        align-self: unset;
        width: 100%;
    }

    sidebar nav a {
        padding: 3rem 1.5rem;
    }

    sidebar nav a .material-symbols-rounded {
        display: unset;
        margin: 0 2rem 0 0;
    }
}