/* wat moet er in de edit profile pagina staan
- email (input field)
- wachtwoord (input field)
-voor en achternaam ( input fields onder elkaar)
- content op je profile (foto's tekst en profielfoto)
- hobbies (input field met bewerk knop zoals de rest)
- job experience (groot inout field varchar(255)
- educations input field */

/* MOBILE */
@media screen and (min-width: 0) {

    main content section,
    main content section form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main content section form {
        width: 100%;
    }

    img {
        width: 22rem;
        height: 22rem;
        border-radius: 100%;
    }

    label {
        font-size: 2rem;
        font-weight: bold;
    }

    input[type='text'] {
        font-size: 5vw;
        width: 80%;
        background: var(--complimentaryColor);
        border: none;
        padding: 10px;
        border-radius: var(--borRad);
    }

    input[type='file'] {
        text-align-last: center;
        font-size: 1rem;
    }

    input[type='file']::-webkit-file-upload-button {
        background: var(--complimentaryColor);
        color: var(--accentColor);
        border: none;
        padding: 6px;
        margin: 6px;
        display: none;
        border-radius: var(--borRad);
    }

    section form label {
        padding: 10px;
        cursor: pointer;
        text-align: center;
    }

    /* form label input[type="file"] {} */
}


/* TABLET */
@media screen and (min-width: 426px) {}

/* DESKTOP */
@media screen and (min-width: 1200px) {
    body main content {
        display: grid;
        align-items: center;
    }

    main content section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .setprofilepicture {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        /* set two rows */
        grid-gap: 10px;
    }

    .setprofilepicture img {
        grid-row: 1 / span 2;
        /* span both rows */
    }

    main content section:first-child {
        border-right: var(--complimentaryColor) 2px solid;
    }


    footer {
        grid-column: 1 / span 2;
    }
}