/* styling voor de home pagina */
/* MOBILE */
@media screen and (min-width: 0) {
    /* user card  */
    article {
        width: 100%;
        padding: 2rem;
        background: var(--complimentaryColor);
        border-radius: calc(var(--borRad)*2);
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
        justify-content: space-between;
    }

    article img {
        width: 60vw;
        height: 60vw;
        border-radius: 100%;
    }

    article div {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    article h1,
    article p {
        text-align: center;
        margin-bottom: auto;
        height: 100%;
    }
}

/* DESKTOP */
@media screen and (min-width: 769px) {
    main content section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 2rem;
        margin-bottom: 2rem;
    }

    article {
        height: 100%;
        width: 100%;
    }

    article img {
        width: 15rem;
        height: 15rem;
    }

    article h1,
    article p {
        text-align: center;
    }
}