/* MOBILE */
@media screen and (min-width: 0) {

    main content {
        justify-content: center;
    }

    .container {
        display: flex;
        background-color: var(--complimentaryColor);
        padding: 2rem 3rem;
        border-radius: 10px;
        justify-content: center;
    }

    .container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .form-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .input-field {
        display: flex;
        flex-direction: column;
    }

    /* The alert message box */
    .alert {
        padding: 1rem;
        margin: 0 auto;
        background-color: #f44336;
        color: white;
        margin-bottom: 1rem;
        border-radius: var(--borRad);
        text-align: center;
    }
}

/* DESKTOP */
@media screen and (min-width: 769px) {
    main content section {
        align-items: center;
    }
}